<div class="col-12 mb-4 px-lg-0 px-4 portfolio-content">
  <%- item.content %>
</div>
<div class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2a" style="z-index: 9999; position: fixed ! important; right: 10px; bottom: 10px;">
      <a href="/blog" class="hi-icon">HOME</a> 
</div>
